<h2>Book Index</h2>

<% books.forEach(book => {%>
<ul>
    <li><%= book.title %></li>
    <% authors.forEach(author => {%>
        <% if(author.id == book.author) {%> 
            <li><%= author.name %></li>
            <%}%>
    <%})%>
    <li><%= book.pageCount %></li>
    <li><%= book.description %></li>
    <li><img src="<%= book.coverImagePath %>" alt="test" height="100" width="100"</li>
</ul>
<%}) %>